  <div class="line">
      <img src="/Proyecto-final-pagina/Public/Assets/img/Lil Italy logo 1.png" class="logo" />

      <nav class="naveg">
        <ul class="menu">
          <li>
            <a href="/Home">Home</a>
            <ul class="submenu">
              <li><a href="/Especialties">Especialties</a></li>
              <li><a href="/AboutUs">About Us</a></li>
            </ul>
          </li>
          <li>
            <a href="/Especialties">Menu</a>
            <ul class="submenu">
              <li><a href="/Especialties">Especialties</a></li>
              <li><a href="/404">Gallery</a></li>
            </ul>
          </li>
          <li><a href="/Form">Contact</a></li>
          <li><a href="/404">Gallery</a></li>
          <li><a href="/404">Locations</a></li>
        </ul>
      </nav>
    </div>