<header>
      <div class="line">
        <img src="Lil Italy logo 1.png" class="logo" />

        <nav class="naveg">
          <ul class="menu">
            <li>
              <a href="Home.html">Home</a>
              <ul class="submenu">
                <li><a href="Especialties.html">Especialties</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
              </ul>
            </li>
            <li>
              <a href="Especialties.html">Menu</a>
              <ul class="submenu">
                <li><a href="Especialties.html">Especialties</a></li>
                <li><a href="404.html">Gallery</a></li>
              </ul>
            </li>
            <li><a href="Form.html">Contact</a></li>
            <li><a href="404.html">Gallery</a></li>
            <li><a href="404.html">Locations</a></li>
          </ul>
        </nav>
      </div>