     <!--About us-->

    <section class="Abt">
        <p class="title2">About Us</p>
        <iframe width="420" height="315"
         src="https://www.youtube.com/embed/cbAJcBkcG0I" class="sideim">
         </iframe>

        <div class="about">
            <p>
                We, as an italian run pizzeria, seek to prepare delicious pizza and pizza inspired dishes for every type of customer. Whenver a customer comes back, we try to out-do ourselves and better their previous experience of our service.
            </p>
        </div>

        <div class="mis">
            <h2>VISION</h2>
            <p>
            Our mission is to attract every customer ever to our pizzeria and have them come back every day, make them exited to step in the local and make them bring their whole family because they've had such a good time.
            </p>
        </div>

        <div class="vis">
            <h2>MISSION</h2>
            <p>
            Strive to make new dishes and make them famous worldwide, sharing them with the masses, expanding out reach in the world and bringing a smile to the face of anyone who tastes them.
            </p>
        </div>
        </section>
