       <!--Especialties-->

    <section class="especialties">
        <p class="title">ESPECIALTIES</p>
        <div class="row">
            <div class="col">
                <div class="over">
                <img src="/Proyecto-final-pagina/Public/Assets/img/Margherita.jpg" class="pizza">
                <div class="overlay">
                    <div class="texto_over">BUY NOW!</div>
                </div>
                </div>
        
                <h2>PIZZA MARGHERITA</h2>
                <p>
                <span>Smol pizza with the standard pizza ingredientst,</span>
                <span>with a couple lil' leaves on top to make it quirky.</span>
                </p>
            </div>

            <div class="col">
                <div class="over">
                <img src="/Proyecto-final-pagina/Public/Assets/img/meatlovers.jpg" class="pizza">
                <div class="overlay">
                    <div class="texto_over">BUY NOW!</div>
                </div>
                </div>
                <h2>MEATLOVERS PIZZA</h2>
                <p>
                <span>Best pizza ever made. Whoever invented it,</span>
                <span>you reading this? You are a legend.</span>
                </p>
            </div>

            <div class="col">
                <div class="over">
                <img src="/Proyecto-final-pagina/Public/Assets/img/Pepperoni.jpg" class="pizza">
                <div class="overlay">
                    <div class="texto_over">BUY NOW!</div>
                </div>
                </div>
                <h2>PEPPERONI PIZZA</h2>
                <p>
                <span>The ol' reliable. Loved by everyone, hated</span>
                <span>by psychos. Really the default.</span>
                </p>
            </div>
        </div>
    </section>

    <!-- Called of font style  file -->

    <div>
<link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>


<h2 class="music">Music for the soul</h2>
<div class="container-audio">
    <audio controls  loop autoplay>
               <source src="/Proyecto-final-pagina/Public/Assets/img/Danganronpa V3 OST  1-07- Rise and Shine, Ursine!.mp3" type="audio/ogg">
               Your browser dose not Support the audio Tag
           </audio>
</div>
<div class="container-audio">
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
</div>
