<!--Form-->

  
        <form id="form" class="topBefore" enctype="text/plain" action="mailto:pittyparty1023@gmail.com" method="POST">
            
              <input id="name" type="text" placeholder="NAME">
              <input id="email" type="text" placeholder="E-MAIL">
              <textarea id="message" type="text" placeholder="ORDER"></textarea>
          <button id="submit" type="submit" value="GO!"> Enviar </button>
          
        </form>
