<html>
<body>

    <!--Home-->

    <header>
      <div class="line">
        <img src="Lil Italy logo 1.png" class="logo" />

        <nav class="naveg">
          <ul class="menu">
            <li>
              <a href="Home.html">Home</a>
              <ul class="submenu">
                <li><a href="Especialties.html">Especialties</a></li>
                <li><a href="AboutUs.html">About Us</a></li>
              </ul>
            </li>
            <li>
              <a href="Especialties.html">Menu</a>
              <ul class="submenu">
                <li><a href="Especialties.html">Especialties</a></li>
                <li><a href="404.html">Gallery</a></li>
              </ul>
            </li>
            <li><a href="Form.html">Contact</a></li>
            <li><a href="404.html">Gallery</a></li>
            <li><a href="404.html">Locations</a></li>
          </ul>
        </nav>
      </div>

      <div class="banner"></div>

      <marquee behavior="scroll" direction="right" scrollamount="15">
        <div class="order">
          <a href="Form.html" id="happy_boi">ORDER NOW!</a>
        </div>
      </marquee>
    </header>

    <!--Especialties-->

    <section class="especialties">
        <p class="title">ESPECIALTIES</p>
        <div class="row">
            <div class="col">
                <div class="over">
                <img src="Margherita.jpg" class="pizza">
                <div class="overlay">
                    <div class="texto_over">BUY NOW!</div>
                </div>
                </div>
        
                <h2>PIZZA MARGHERITA</h2>
                <p>
                <span>Smol pizza with the standard pizza ingredientst,</span>
                <span>with a couple lil' leaves on top to make it quirky.</span>
                </p>
            </div>

            <div class="col">
                <div class="over">
                <img src="meatlovers.jpg" class="pizza">
                <div class="overlay">
                    <div class="texto_over">BUY NOW!</div>
                </div>
                </div>
                <h2>MEATLOVERS PIZZA</h2>
                <p>
                <span>Best pizza ever made. Whoever invented it,</span>
                <span>you reading this? You are a legend.</span>
                </p>
            </div>

            <div class="col">
                <div class="over">
                <img src="Pepperoni.jpg" class="pizza">
                <div class="overlay">
                    <div class="texto_over">BUY NOW!</div>
                </div>
                </div>
                <h2>PEPPERONI PIZZA</h2>
                <p>
                <span>The ol' reliable. Loved by everyone, hated</span>
                <span>by psychos. Really the default.</span>
                </p>
            </div>
        </div>
    </section>

    <!--About us-->

    <section class="Abt">
        <p class="title2">About Us</p>
        <iframe width="420" height="315"
         src="https://www.youtube.com/embed/cbAJcBkcG0I" class="sideim">
         </iframe>

        <div class="about">
            <p>
                We, as an italian run pizzeria, seek to prepare delicious pizza and pizza inspired dishes for every type of customer. Whenver a customer comes back, we try to out-do ourselves and better their previous experience of our service.
            </p>
        </div>

        <div class="mis">
            <h2>VISION</h2>
            <p>
            Our mission is to attract every customer ever to our pizzeria and have them come back every day, make them exited to step in the local and make them bring their whole family because they've had such a good time.
            </p>
        </div>

        <div class="vis">
            <h2>MISSION</h2>
            <p>
            Strive to make new dishes and make them famous worldwide, sharing them with the masses, expanding out reach in the world and bringing a smile to the face of anyone who tastes them.
            </p>
        </div>
        </section>

        <div class="advert">
        Advertisement
        </div>

        <div class="ad"><img src="March19SaleExtended.gif"></div>

        <!--Footer-->

        <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Especialties</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Mission</a></li>
                                <li><a href="#">Vision</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Lil' Italy Pizza</h3>
                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                        </div>
                        <div class="col item social"><a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a><a href="https://twitter.com/"><i class="icon ion-social-twitter"></i></a><a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Lil' Italy Pizza © 2021</p>
                </div>
            </footer>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
